@import url(footer.css);

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000e0;
    color: #e6e6e6;
}

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #333333;
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_Logo {
    font-size: 24px;
    color: #fac031;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-link {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: #fac031;
}

.cart-container {
    padding: 40px 8%;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 40px 0;
}

.cart-container h1 {
    color: #fac031;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cart-item {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item p {
    margin: 5px 0;
}

.cart-item .item-name,
.cart-item .item-price,
.cart-item .item-quantity,
.cart-item .item-subtotal {
    font-size: 1.125rem;
}

.cart-item button {
    background-color: #fac031;
    border: none;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item button:hover {
    background-color: #b17f00;
}

.cart-total {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: right;
}

.cart-total span {
    color: #fac031;
}

.btn-primary {
    background-color: #fac031;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #b17f00;
}

#pedidoAlert {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

#pedidoAlert.show {
    display: block;
}

 

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333333;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}
